$loginbgColor = #f1f1f1;
$logoColor = rgb(34, 37, 43);
$btnColor = rgb(255, 51, 102);
$logofont = "Inv Maison Neue", "Maison Neue", -apple-system, BlinkMacSystemFont, "Open Sans", open-sans, sans-serif;

// 首页header
$headerColor = rgb(255, 255, 255);
$headerfontColor = rgb(23, 25, 29);
$headerfonthoverColor = rgb(255, 51, 102);
