$loginbgColor = #f1f1f1;
$logoColor = rgb(34, 37, 43);
$btnColor = #ea6f5a;
$logofont = "Inv Maison Neue", "Maison Neue", -apple-system, BlinkMacSystemFont, "Open Sans", open-sans, sans-serif;

// 首页header
$headerColor = #fbfbfb;
$headerborderColor = #dadada;
$headerfontColor = rgb(23, 25, 29);
$headerfontactiveColor = #ea6f5a;
$backgroundColorHover = #f5f5f5;

// 文章顔色
$articleColor = #999999
$blackColor = rgb(23, 25, 29);
$lightgray = #999999
